/* src/style/MovieItem.css */
.movie-details {
    padding: 2rem;
    text-align: center;
  }
  
  .movie-details img {
    width: 300px;
    height: auto;
    /* width:auto; */
    border-radius: 8px;
  }
  
  @media (max-width: 600px) {
    .movie-details img {
      width: 100%;
    }
  }
  